body{
    padding: 0;
    margin: 0;
}
*{
    box-sizing: border-box;
}
@font-face {
    font-family: 'HelveticaNeue-Bold';
    src: url('fonts/HelveticaNeue-Bold.eot');
    src: url('fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg'),
         url('fonts/HelveticaNeue-Bold.ttf') format('truetype'),
         url('fonts/HelveticaNeue-Bold.woff') format('woff'),
         url('fonts/HelveticaNeue-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.font-HelveticaNeue-Bold{
    font-family: 'HelveticaNeue-Bold';
}
@font-face {
    font-family: 'HelveticaNeue-Roman';
    src: url('fonts/HelveticaNeue-Roman.eot');
    src: url('fonts/HelveticaNeue-Roman.eot?#iefix') format('embedded-opentype'),
         url('fonts/HelveticaNeue-Roman.svg#HelveticaNeue-Roman') format('svg'),
         url('fonts/HelveticaNeue-Roman.ttf') format('truetype'),
         url('fonts/HelveticaNeue-Roman.woff') format('woff'),
         url('fonts/HelveticaNeue-Roman.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.font-HelveticaNeue-Roman{
    font-family: 'HelveticaNeue-Roman';
}
@font-face {
    font-family: 'HelveticaNeueLTStd-Bd';
    src: url('fonts/HelveticaNeueLTStd-Bd.eot');
    src: url('fonts/HelveticaNeueLTStd-Bd.eot?#iefix') format('embedded-opentype'),
         url('fonts/HelveticaNeueLTStd-Bd.svg#HelveticaNeueLTStd-Bd') format('svg'),
         url('fonts/HelveticaNeueLTStd-Bd.ttf') format('truetype'),
         url('fonts/HelveticaNeueLTStd-Bd.woff') format('woff'),
         url('fonts/HelveticaNeueLTStd-Bd.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.font-HelveticaNeueLTStd-Bd{
    font-family: 'HelveticaNeueLTStd-Bd';
}
@media (max-width:576px){
    .fs-28{
        font-size: 28px;
    }
    .fs-22{
        font-size: 22px;
    }
    .fs-19{
        font-size: 19px;
    }
    .fs-sm-18{
        font-size: 18px;
    }
.img-box img{
    position: absolute;
}
.img-box .text-box{
    position: relative;
    top: 0;
    left: 0;
}
}
@media (min-width:992px){
      .border-1{
          border-right: 1px solid white;
      }
}

header{
    background: #3198b9;
}

.three-col-container{
    background: #259ec3;
}

.blue{
    color: #0082c9;
}

.hb{
    font-family: 'HelveticaNeue-Bold';
}

.hbd{
    font-family: 'HelveticaNeueLTStd-Bd';
}

.hl{
    font-family: 'HelveticaNeue-Roman'
}

.banner-section{
    background-image: linear-gradient(to bottom, #FFFFFF, #dcf4f6, #65cdd8);
}
.fs-18{
    font-size: 18px;
}
.img-box img{
    position: absolute;
}
.img-box .text-box{
    position: relative;
    top: 20px;
    left: 0;
}