body{
    padding: 0;
    margin: 0;
}
*{
    box-sizing: border-box;
}
@font-face {
    font-family: 'HelveticaNeue-Bold';
    src: url('fonts/HelveticaNeue-Bold.eot');
    src: url('fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg'),
         url('fonts/HelveticaNeue-Bold.ttf') format('truetype'),
         url('fonts/HelveticaNeue-Bold.woff') format('woff'),
         url('fonts/HelveticaNeue-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.font-HelveticaNeue-Bold{
    font-family: 'HelveticaNeue-Bold';
}
@font-face {
    font-family: 'HelveticaNeue-Roman';
    src: url('fonts/HelveticaNeue-Roman.eot');
    src: url('fonts/HelveticaNeue-Roman.eot?#iefix') format('embedded-opentype'),
         url('fonts/HelveticaNeue-Roman.svg#HelveticaNeue-Roman') format('svg'),
         url('fonts/HelveticaNeue-Roman.ttf') format('truetype'),
         url('fonts/HelveticaNeue-Roman.woff') format('woff'),
         url('fonts/HelveticaNeue-Roman.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.font-HelveticaNeue-Roman{
    font-family: 'HelveticaNeue-Roman';
}
@font-face {
    font-family: 'HelveticaNeueLTStd-Bd';
    src: url('fonts/HelveticaNeueLTStd-Bd.eot');
    src: url('fonts/HelveticaNeueLTStd-Bd.eot?#iefix') format('embedded-opentype'),
         url('fonts/HelveticaNeueLTStd-Bd.svg#HelveticaNeueLTStd-Bd') format('svg'),
         url('fonts/HelveticaNeueLTStd-Bd.ttf') format('truetype'),
         url('fonts/HelveticaNeueLTStd-Bd.woff') format('woff'),
         url('fonts/HelveticaNeueLTStd-Bd.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.font-HelveticaNeueLTStd-Bd{
    font-family: 'HelveticaNeueLTStd-Bd';
}
@media (max-width:576px){
    .fs-lg-28{
        font-size: 28px;
    }
    .fs-22{
        font-size: 22px;
    }
    .fs-19{
        font-size: 19px;
    }
    .fs-sm-18{
        font-size: 18px;
    }
    .fs-sm-12{
        font-size: 12px;
    }
    iframe{
        height: 262px;
    }
/* .img-box img{
    position: absolute;
}
.img-box .text-box{
    position: relative;
    top: 0;
    left: 0;
} */
}
@media (max-width:768px){
    .fs-lg-28{
        font-size: 28px;
    }
    .fs-19{
        font-size: 19px;
    }
    iframe{
        height: 302px;
    }
     .border-1{
        border-right: 1px solid white;
    }
}
@media (min-width:992px){
    .border-1{
        border-right: 1px solid white;
    }
    .fs-18{
        font-size: 18px;
    }
    iframe{
        height:500px;
    }
    /* .img-box img{
        position: absolute;
    }
    .img-box .text-box{
        position: relative;
        top: 20px;
        left: 0;
    } */
}

header{
    background: #3198b9;
}

.three-col-container{
    background: #259ec3;
}

.blue{
    color: #0082c9;
}

.hb{
    font-family: 'HelveticaNeue-Bold';
}

.hbd{
    font-family: 'HelveticaNeueLTStd-Bd';
}

.hl{
    font-family: 'HelveticaNeue-Roman'
}
.content-section{
    background-image: linear-gradient(to bottom, #FFFFFF, #cfe8f1, #bee0ec);
}
.banner-section{
    background-image: linear-gradient(to bottom, #FFFFFF, #dcf4f6, #65cdd8);
}
.printer-img-content-container{
    background: #eef7fa;
}
.border-5{
    border-bottom:5px solid #80cff1;
}
.left-gray{
    color: #6d6e71;
    font-size: 14px;
}
.fs-11{
    font-size: 13px;
}
.clr{
    color: #000;
}
.fb{
    color: #3b589c;
    font-size: 24px;
}
.fb-1{
    color: black;
    font-size: 16px;
}
.bg-blue{
    background: #3198b9;
}
.inp{
    border: 1px solid #ccc;
    border-radius: 5px;
    color: rgb(48, 47, 47);
}
.bg-submit{
    background: url(../images/submit.png) no-repeat top / 100% 100%;
    border: none;
    color: transparent;
    width: 100px;
    height: 34px;
}
/* .img-container .img-box img{
    position: absolute;
}
.img-container .img-box .text-box{
    position: relative;
    top: 5px;
    left: 0;
} */