body{
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
*{
    box-sizing: border-box;
}

@media (min-width:576px){
    .leverage-section h1, .Designed h1{
        font-size: 57px;
        color: #0082c9;
    }
}
@media (min-width:992px){
    .header-section img {
        max-width: 123px;
    }
    .leverage-section h1, .Designed h1{
        font-size: 38px;
        color: #0082c9;
    }
}
.header-section{
    background: #3198b9;
}
.gallery-section{
    background: #259ec3;
}